name: Java Manual Verification

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      execution_mode:
        description: 'Select execution mode'
        type: choice
        default: 'Build Only'
        options:
          - 'Build Only'
          - 'Build + Push to Docker Hub'
jobs:
  call-build-backend:
    uses: valdirsantos714/reusable_workflows/.github/workflows/build-java.yaml@main
    with:
      java-version: '17'
      push-image: ${{ github.event.inputs.execution_mode == 'Build + Push to Docker Hub' }}
      docker-image-name: biblia-backend
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}